body{

font-family:Arial, sans-serif;

background:#f2f2f2;

margin:0;

}



.container{

max-width:600px;

margin:auto;

padding:15px;

}



h1{

text-align:center;

}



#checkInfo{

background:white;

padding:10px;

border-radius:10px;

margin-bottom:10px;

}



.channel-list{

height:300px;

overflow-y:auto;

background:white;

border-radius:10px;

padding:10px;

}



.channel-list button{

width:100%;

padding:14px;

margin-bottom:8px;

font-size:18px;

border-radius:10px;

border:1px solid #ccc;

background:white;

}



.comment-btn{

width:100%;

padding:15px;

font-size:18px;

margin-top:15px;

border-radius:10px;

border:none;

background:#ddd;

}



#report{

background:white;

padding:10px;

border-radius:10px;

height:45vh;

overflow-y:auto;

}



.report-item{

padding:10px;

border-bottom:1px solid #ddd;

}



.buttons{

display:flex;

gap:10px;

margin-top:15px;

}



.buttons button{

flex:1;

padding:15px;

border:none;

border-radius:10px;

font-size:16px;

}



.clear{

background:#ff7777;

}




.modal{

display:none;

position:fixed;

top:0;

left:0;

width:100%;

height:100%;

background:rgba(0,0,0,0.5);

}

.modal-box{

background:white;

margin:25% auto;

padding:25px;

width:85%;

border-radius:15px;

}



textarea{

width:100%;

height:150px;

font-size:18px;

margin-bottom:15px;

}

.modal-box button{

width:100%;

padding:15px;

font-size:18px;

margin-top:10px;

border-radius:10px;

border:none;

}
